@page "/"

<PageTitle>Home</PageTitle>

<h1>Anmeldung zum Newsletter</h1>

<p>
    Nachname:
    <input type="text" id="nachname" @bind="nachname" />
</p>

<p>
    E-Mail:
    <input type="text" id="email" @bind="email" />
</p>

<p>
    Wie sind Sie auf unser Hotel aufmerksam geworden? <br />
    <input type="checkbox" id="willOrgInfos" @bind="informedFromFriends">
    <label for="informedFromFriends">
        Freunde
    </label> <br />
    <input type="checkbox" id="willAbsInfos" @bind="informedFromInternet">
    <label for="informedFromInternet">
        Internet
    </label> <br />
</p>

<p>
    Was hat Sie am meisten angesprochen <br />
    <select id="abteilung" @bind="abteilung">
        <option value="undefiniert"> --- Bitte wählen ---</option>
        <option> Die Ausstattung </option>
        <option> Die Lage </option>
    </select>
</p>

<p>
    Wann haben Sie ihren nächsten Urlaub geplant? <br />
    <input type="radio" name="farbe" id="red" checked
    @onchange="@(() => { farbe = "Rot"; })" />
    <label for="red"> in ca. 1-3 Monaten </label>
    <br />
    <input type="radio" name="farbe" id="green"
    @onchange="@(() => { farbe = "Grün"; })" />
    <label for="green"> in ca. 6 Monaten </label>
    <br />
</p>

<p>
    Wenn Sie uns etwas mitteilen möchten. finden Sie hier Platz dafür:
    <textarea id="message" @bind=message></textarea>
</p>

<button type="button" @onclick="Btn_Abschicken">Abschicken</button>

@code {
    // MERKMALE
    private string? nachname;
    private string? email;

    private bool informedFromFriends = false;
    private bool informedFromInternet = false;

    private string abteilung = "undefiniert";

    private string farbe = "Rot";

    private string message = "";

    private void Btn_Abschicken()
    {
        
    }
}